$color-primary: #161412;
$color-additional: #F4F4F2;
$color-cart-bg: #F8F8F8;
$color-border: #BEBEBE;
$color-light: #FFFFFF;
$color-dark: #65635F;
$color-hovered: #72508C;
$color-error: #e52a2a;
$color-modal-bg: rgba(101, 99, 95, 0.25);

$content-width: 1160px;