$color-primary: #161412;
$color-additional: #F4F4F2;
$color-cart-bg: #F8F8F8;
$color-border: #BEBEBE;
$color-light: #FFFFFF;
$color-dark: #65635F;
$color-checkbox-checked: #2F492C;
$color-hovered: #72508C;

$content-width: 1160px;