.cart {
  &__header {
    margin-bottom: 55px;
  }

  &__wrapper {
    margin: 0 35px 80px;
  }

  &__content {
    background-color: $color-cart-bg;
    border-radius: 15px;
    margin-bottom: 80px;
  }

  &__footer {
    display: flex;
    align-items: center;
    border-top: solid 1px $color-border;
    padding: 30px 80px;
    justify-content: end;
  }

  &__page-number {
    white-space: nowrap;
  }

  &__summary {
    max-width: calc(100% - 75%);
    margin-bottom: 100px;
  }
}