.store {
  border: 2px solid purple;
  height: 100%;
  display: flex;
}

.cards-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  &__layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
  }

  .menu {
    display: flex;
    gap: 10px;
  }
}

.store-form {
  width: 20%;
}

.categories {
  border: 1px solid brown;
  margin: 10px 0;
  &__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.filter {
    border: 1px solid brown;
    margin: 10px 0;
    &__input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
}