.btn {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;

  &_product-add {
    background-color: $color-primary;
    background-image: url('../assets/icons/add-product-btn_ico.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  &_product-remove {
    background-color: $color-primary;
    background-image: url('../assets/icons/remove-product-btn_ico.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  &_add {
    background: url('../assets/icons/add-btn_ico.svg') center no-repeat;
    background-size: contain;
    width: 18px;
    height: 22px;
  }

  &_remove {
    background: url('../assets/icons/remove-btn_ico.svg') center no-repeat;
    background-size: contain;
    width: 18px;
    height: 22px;
  }
}