.btn {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  background-color: $color-primary;
  padding: 16px 0;
  color: $color-light;
  text-transform: uppercase;
  @extend %font-additional;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;

  &:hover {
    background-color: $color-hovered;
  }

  &_product-add {
    background-color: $color-primary;
    background-image: url('../assets/icons/add-product-btn_ico.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  &_product-remove {
    background-color: $color-primary;
    background-image: url('../assets/icons/remove-product-btn_ico.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }

  &_add {
    background: url('../assets/icons/add-btn_ico.svg') center no-repeat;
    background-size: contain;
    width: 18px;
    height: 22px;
  }

  &_remove {
    background: url('../assets/icons/remove-btn_ico.svg') center no-repeat;
    background-size: contain;
    width: 18px;
    height: 22px;
  }

  &_remove-promo {
    width: 35%;
    padding: 10px 0;
    border-radius: 5px;
  }
}