.item {
  display: flex;
  align-items: center;
  gap: 15px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__num {
    @include font($size: 2rem, $weight: 700);
  }

  &__img {
    max-width: calc(100% - 90%);
  }

  &__name {
    @include font($size: 1.8rem, $weight: 700);
  }

  &__category {
    margin-bottom: 10px;
  }

  &__desc {
    margin-bottom: 15px;
  }

  &__number-control {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    width: calc(100% - 94%);
  }

  .number-control {
    &__btn:hover {
      background-color: initial;
    }
  }
}