.cart {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      display: flex;
      align-items: center;
      gap: 5px;
      @include font($size: 2.4rem);
      margin-bottom: 5px;
    }
  }

  &__heading {
    @include font($size: 3.2rem);
    margin: 0 0 10px;
  }

  &__content {
    background-color: $color-cart-bg;
    padding: 60px 80px 40px;
    border-radius: 15px;
  }
}

.total {
  &__text {
    text-transform: uppercase;
    pointer-events: none;
    user-select: none;
    @include font($weight: 700);
  }
}