.input {
  padding: 10px 15px;
  border: none;
  @extend %font-prim;
  font-style: italic;
  background-color: $color-additional;
  border-radius: 15px;
  color: $color-primary;

  &:focus {
    outline: none;
  }
}