.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-modal-bg;
  display: flex;
  align-items: center;
  justify-content: center;

  .active {
    visibility: visible;
  }

  &-content {
    position: absolute;
    width: fit-content;
    background-color: $color-light;
    padding: 20px 40px;
    border: none;
    border-radius: 15px;

    &__heading {
      text-align: center;
      margin-bottom: 15px;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-bottom: 30px;
      align-items: center;
    }

    &__input {
      display: flex;
      width: calc(100% - 30%);
      max-width: calc(100% - 40%);
      gap: 20px;
      align-items: center;
      justify-content: center;
    }

    &__btn {
      margin: auto;
      max-width: calc(100% - 60%);
    }
  }

  .error-message {
    @include font($weight: 500);
    color: $color-error;
  }
}