.multi-range {
  &__label {
    display: flex;
    justify-content: space-between;
  }
}

input[type=range] {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient($color-primary, $color-primary) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    border-radius: 28px;
    background-color: $color-primary;
    position: relative;
    margin: 5px 0;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
  }
}

.multi-range {
  position: relative;
  height: 50px;

  input[type=range] {
    position: absolute;
  }
}